#container ul button{
    display: inline-block;
    color: #fefefe;
    /* margin-top: 10%; */
    cursor: pointer;
    border: 1px solid #4f46e5;
    border-radius: 10px;
    /* background-color: #1e293b; */
    background-color: #0f172a;
    height: 40px;
    width: 80px;
    font-size: 16px;
    transition: all 0.3s ease;
}
#container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
#container{
    background-color: #0f172a;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container ul button:focus{
    color: #fefefe;
    background-color: #4f46e5;
    border-radius: 10px;
}
#container ul button:hover{
    transform: translateY(-5px);
}
.item{
    list-style: none;
    padding: 15px;
}
#img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 4%;
}
#container p{
    color: #fefefe;
    position: absolute;
    left: 8%;
    font-size: 20px;
    font-weight:bolder;
}