.title{
     width: 150px;
    height: 30px;
    color: rgb(254, 254, 254,0.7);
    background-color: rgb(107, 143, 113,.7);
    border-radius: 25px;
    font-size: 15px;
    text-align: center;
    margin: 0px auto;
    padding-top: 10px;
    /* transform: translateY(200%); */
}
/* #container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 6%;
    padding: 10px;
} */