@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
body {
  margin: 0;
  font-family:Lato
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
